.form-container {
    width: calc(90vw - 2em);
    position: fixed;
    background-color: rgb(27, 27, 27);
    border-radius: 18px;
    bottom: 1em;
    margin-bottom: -1em;
}

.form {
    display: flex;
    max-width: 100%;
    height: 100%;
    border-radius: 18px;
    border: 1px rgb(48, 48, 48) solid;
    padding: 1em;
}

.form__input {
    display: flex;
    min-height: 100%;
    width: calc(100% - 150px);
    background-color: rgb(48, 48, 48);
    outline: none;
    border: none;
    color: aliceblue;
    font-size: 2em;
    padding: 1em;
    border-radius: 18px;
}

.form__submit {
    display: block;
    min-height: 100%;
    min-width: 50px;
    max-width: 150px;
    font-size: 1em;
    padding: 2em;
    background-color: rgb(12, 12, 12);
    cursor: pointer;
    border: 1px rgb(48, 48, 48) solid;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    color: rgb(211, 211, 211);
}

.form__input-file-label {
    font-size: 1em;
    padding: 1em;
    color: rgb(211, 211, 211);
    cursor: pointer;
    min-width: 50px;
    max-width: 150px;
    background-color: rgb(12, 12, 12);
    border: 1px rgb(48, 48, 48) solid;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 100%;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    margin-left: 1em;
}

input[type="file"] {
    display: none;
}

.form__input-label-text {
    display: flex;
    margin: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.form__input-file-label:hover {
    opacity: .6;
}

.form__submit:hover {
    opacity: .6;
}