body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(27, 27, 27);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.page {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10%;
    min-width: 200px;
    border-radius: 18px;
    border: 1px rgb(48, 48, 48) solid;
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    padding: 8px;
}

.window {
    background-color: rgb(27, 27, 27);
    flex: 1;
    border-radius: 18px;
    border: 1px rgb(48, 48, 48) solid;
    padding-bottom: 100px;
}

.form-container {
    position: sticky;
    bottom: 8px;
}

.form {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 18px;
    border: 1px rgb(48, 48, 48) solid;

}

.form__input {
    display: flex;
    min-height: 100%;
    width: 90%;
    background-color: rgb(48, 48, 48);
    outline: none;
    border: none;
    color: aliceblue;
    font-size: 2em;
    padding: 1em;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}


.form__submit {
    display: block;
    min-height: 100%;
    width: 150px;
    font-size: 1em;
    padding: 2em;
    background-color: rgb(12, 12, 12);
    cursor: pointer;
    border: 1px rgb(48, 48, 48) solid;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    color: rgb(211, 211, 211);
}

.form__input-file-label {
    font-size: 1em;
    padding: 1em;
    color: rgb(211, 211, 211);
    cursor: pointer;
    width: 150px;
    background-color: rgb(12, 12, 12);
    border: 1px rgb(48, 48, 48) solid;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 100%;
}

input[type="file"] {
    display: none;
}

.form__input-label-text {
    display: flex;
    margin: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.form__input-file-label:hover {
    opacity: .6;
}



.form__submit:hover {
    opacity: .6;
}

.users {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding: 8px;
    font-size: 1.3em;
}

.users__item {
    border-bottom: 1px rgb(48, 48, 48) solid;
}

.message {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    font-size: 24px;
    margin: auto;
    font-size: 3em;
    padding: .5em;
}

.message__item {
    background-color: rgb(48, 48, 48);
    max-width: fit-content;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.message__image {
    width: 20vw;
}

.message__item:before {
    content: '';
    position: absolute;
    bottom: 4px;
    right: -2px;
    width: 8px;
    height: 8px;
    background-color: rgb(48, 48, 48);
    transform: rotate(45deg);
}

.message__item_get {
    align-self: flex-start;
}

.message__item_get:before {
    content: '';
    bottom: 4px;
    left: -2px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}


.message__username {
    color: rgb(165, 165, 165);
    font-size: .5em;
}

::-webkit-scrollbar {
    background-color: rgb(48, 48, 48);
    width: 5px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);
    width: 5px;
    border-radius: 8px;
}